.breadcrumbs {

	&__item + &__item {
		margin-left: .1rem;
	}

	&__item {
		display: inline-block;

		&::after {
			content: '/';
			display: inline-block;
			margin-left: .4em;
			font-size: .8em;
		}
	}

	&__link {
		font-weight: 500;
		font-size: 1.1rem;
	}
}
