.top-left-footer-text {
  color: #777777;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.1rem;
  max-width: 28.8rem;
  width: 100%;
  margin-left: 4.6rem;

  .point {
    text-transform: uppercase;
  }
}

.top-footer {
  display: flex;
  align-items: center;

  &__margin-btn {
    margin-left: 3.7rem;
  }
}

.top-footer-left {
  display: flex;
}

.footer-right-btn {
  color: #ffffff;
  font-size: 17px;
  font-weight: 700;
  margin-right: 3.7rem;

  &:last-child {
    margin-right: 0;
  }
}

.top-footer-right {
  display: flex;
  align-items: center;
}

.link-footer {
  border-radius: 1rem;
  height: 5.5rem;
  padding: 0 3.6rem;
}

.rigth-consultation-link {
  width: 100%;
  height: 5.5rem;
  background-color: #da0b27;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rigth-question-link {
  background: #37393b;
  display: flex;
  align-items: center;
}

.right-question-pic {
  margin-right: 2.7rem;
}

.btm-footer {
  margin-top: 5.3rem;
  display: flex;
  justify-content: space-between;
}

.btm-footer-list {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 500;
  line-height: 3.5rem;
  margin-right: 7.6rem;
  transition: color 0.2s;

  li {
    &:hover {
      transition: color 0.2s;
      color: #d0243b;
    }
  }

  &:last-child {
    margin-right: 0;
  }
}

.btm-footer-list-wrap {
  display: flex;

}

.footer-contacts-link {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 29.34px;
  text-transform: uppercase;
}

.footer-time-works-text {
  color: #777777;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 24.85px;
}

.time-work-status-item {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 700;
  display: block;
  position: relative;
  padding: .6rem 2.2rem .6rem 3.8rem;
  border-radius: 13px;
  background-color: #62ae00;

  &:before {
    position: absolute;
    content: '';
    top: 50%;
    left: 1.4rem;
    width: 1rem;
    height: 1rem;
    background: white;
    border-radius: 50%;
    margin-top: -.5rem;
  }
}

.footer-time-works {
  margin-top: 1.5rem;
}

.time-work-status {
  margin-top: 2.7rem;
}

.footer-contacts-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-time-works {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btm-footer-contacts {
  display: flex;
}

.sub-footer {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.5rem;
  margin-left: 10.3rem;
}

.sub-footer-text {
  color: #777777;

}

.sub-footer-list {
  color: #ffffff;
}

.right-question-mob {
  display: none;
}

.rigth-consultation-pic-mob {
  display: none;
}

.footer-mobile-menu {
  width: 2.1rem;
  height: 1.5rem;
  position: relative;
  display: none;

  &:before {
    top: 0;
    left: 0;
    position: absolute;
    content: '';
    width: 100%;
    height: .1rem;
    background: white
  }

  &:after {
    bottom: 0;
    left: 0;
    position: absolute;
    content: '';
    width: 100%;
    height: .1rem;
    background: white
  }
}

.footer-mobile-item {
  display: block;
  width: 100%;
  height: .1rem;
  background: white;
  margin-top: .1rem;
}