.header-menu {
  width: 3rem;
  height: 1.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: .2rem;
    background: #000;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: .2rem;
    background: #000;
  }

  p {
    display: block;
    width: 100%;
    height: .2rem;
    background: #000;
  }
}

.header-main {
  background: #f4f9ff;
}

.header-main-wrap {
  padding-top: 3rem;
  display: flex;
  align-items: center;

  &__margin-logo {
    margin-left: 4.2rem;
  }

  &__margin-text {
    margin-left: 5.1rem;
  }

  &__margin-city {
    margin-left: 11.6rem;
  }

  &__margin-phone {
    margin-left: 10rem;
  }
}

.header-description {
  color: #1a1b1c;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2.1rem;
  max-width: 28rem;
  width: 100%;

  .point {
    text-transform: uppercase;
  }

}

.input-list-wrap {
  display: flex;
  align-items: center;
  background: rgba(223, 233, 245, 0.5);
  border-radius: 1rem;
}

.select-apartment {
  position: relative;
  color: #1a1b1c;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 2.919rem;
  width: 100%;
  max-width: 18.5rem;
  display: flex;
  align-items: center;
  padding: 1.3rem 0 1.3rem 2.6rem;

  &:before {
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    width: .1rem;
    height: 100%;
    background: #dfe9f5;
  }


  &[data-state="active"] {
    .__select__title {
      &::before {
        transform: translate(-3px, 0%) rotate(-180deg);
      }

      &::after {
        transform: translate(3px, -50%) rotate(45deg);
      }
    }

    .__select__content {
      opacity: 1;
    }

    .__select__label+.__select__input+.__select__label {
      max-height: 55px;
      border-top-width: 1px;
    }
  }



  .__select__title::before {
    right: 1.8rem;
    margin-top: -.35rem;
  }

  .__select__label {
    height: 5.5rem;
    padding-left: 1rem;
  }

  .__select__content {
    top: 6.8rem;
  }
}

.number-rooms {
  position: relative;
  color: #1a1b1c;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 2.919rem;
  max-width: 24.3rem;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1.3rem 0 1.3rem 4rem;

  &:before {
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    width: .1rem;
    height: 100%;
    background: #dfe9f5;
  }

  &[data-state="active"] {
    .__select__title {
      &::before {
        transform: translate(-3px, 0%) rotate(-180deg);
      }

      &::after {
        transform: translate(3px, -50%) rotate(45deg);
      }
    }

    .__select__content {
      opacity: 1;
    }

    .__select__label+.__select__input+.__select__label {
      max-height: 55px;
      border-top-width: 1px;
    }
  }

  .__select__title::before {
    right: 1.6rem;
    margin-top: -.35rem;
  }

  .__select__label {
    height: 5.5rem;
    padding-left: 1rem;
  }

  .__select__content {
    top: 6.8rem;
  }
}

.__select {
  position: relative;
  font-weight: 300;
  letter-spacing: 0.3px;
  font-size: 1.5rem;
  line-height: 23.71px;
  color: #343434;
  min-width: 15.6rem;
  display: flex;
  align-items: center;

  &[data-state="active"] {
    .__select__title {
      &::before {
        transform: translate(-3px, 0%) rotate(-180deg);
      }

      &::after {
        transform: translate(3px, -50%) rotate(45deg);
      }
    }

    .__select__content {
      opacity: 1;
    }

    .__select__label+.__select__input+.__select__label {
      max-height: 40px;
      border-top-width: 1px;
    }
  }
}

.__select__title {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 700;
  letter-spacing: 0.3px;

  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 0;
    height: 0;
    border-left: .5rem solid transparent;
    border-right: .5rem solid transparent;
    border-top: .7rem solid #1a1b1c;
    ;

    transition: all 0.3s ease-out;
  }


  &:hover {

    &::before {}
  }
}

.__select__content {
  position: absolute;
  top: 40px;
  left: 3px;

  display: flex;
  flex-direction: column;
  width: calc(100% - 6px);

  background-color: #ffffff;

  border: 1px solid #c7ccd1;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  transition: all 0.3s ease-out;

  opacity: 0;
  z-index: 8;
}

.__select__input {
  display: none;

  &:checked+label {
    background-color: #dedede;
  }

  &:disabled+label {
    opacity: 0.6;
    pointer-events: none;
  }
}

.__select__label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  max-height: 0;
  padding: 0 3px;
  transition: all 0.2s ease-out;
  cursor: pointer;
  overflow: hidden;

  &+input+& {
    border-top: 0 solid #C7CCD160;
  }

  &:hover {
    background-color: #D8093A !important;

    color: #ffffff;
  }
}

.city-name {
  margin-right: 1rem;
}

.phone-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.phone-header-link {
  color: #1a1b1c;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 2.924rem;
  text-transform: uppercase;
}

.status-work {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 1.3rem;
  background-color: #62ae00;
  padding: .6rem 1.8rem .6rem 3.8rem;
  position: relative;
  margin-top: 1.3rem;

  &:after {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: white;
    position: absolute;
    content: '';
    left: 1rem;
    top: 50%;
    margin-top: -.5rem;
  }
}

.city-list-form {
  .__select {
    .__select__title {
      &:before {
        right: -1rem;
        top: 40%;
      }
    }


  }

  .__select[data-state="active"] .__select__title::before {
    transform: translate(-3px, 0%) rotate(-180deg);
  }
}

.logo-wrap {
  display: flex;
  align-items: center;
}

.city-point-mobile {
  display: none;
}