.wrapper {
  max-width: 120rem;
  width: 100%;
  margin: auto;
}

.root {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  max-width: 192rem;
  width: 100%;
  overflow: hidden;
  margin: auto;
}

.pic-frame {
  opacity: 0.25;
  position: absolute;
}


