@media all and (max-width: 1780px) {}

@media all and (max-width: 1650px) {
  .steps-slider-headline-wrap {
    z-index: 12;
    position: relative;
    padding-top: 2.7rem;
  }

  .steps-to-buy-info {
    max-width: 91.7rem;
  }

  .quote-pic {
    max-width: 90rem;
    width: 100%;

    img {
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
  }

  .quote-info-wrap {
    max-width: 85.3rem;
    padding: 3.7rem 4rem 3.4rem 0;
  }

  .quote-info__subtext-margin {
    margin-top: 3.9rem;
  }

  .quote-info__margin-btn {
    margin-top: 4.9rem;
  }

  .quote-info__margin-company {
    margin-top: 4.6rem;
  }

  .quote-text:before {
    background-image: url(/assets/img/dot-tablet.svg);
    bottom: 0;
    width: 2.6rem;
    height: 2rem;
    right: -1rem;

  }

  .quote-text:after {
    background-image: url(/assets/img/dot-tablet.svg);
    width: 2.6rem;
    height: 2rem;
    left: -4.5rem;

  }
}

@media all and (max-width: 1300px) {
  .header-description {
    display: none;
  }

  .wrapper {
    max-width: 102.4rem;
  }

  .header-main-wrap {
    justify-content: space-between;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
  }

  .find-apartment__margin-content {
    padding-top: 0;
  }

  .find-apartment-headline {
    font-size: 3.2rem;
    line-height: 4.3rem;
    max-width: 28.5rem;
  }

  .object-buy {
    font-size: 1.7rem;
    line-height: 2.7rem;
    max-width: 16.4rem;
  }

  .list-apartment-wrap .pic-frame {
    transform: rotate(0deg);
    top: 20%;
  }

  .can-help-headline {
    font-size: 2.5rem;
    line-height: 3.274rem;
    max-width: 28.8rem;
    margin-top: 23.5rem;
  }

  .list-apartment-item {
    min-height: 51.2rem;
    height: 31.0372vh;
  }

  .list-apartment-info {
    top: 6.7rem;
  }

  .slide2-apartment {
    top: 6.2rem;
    left: 3.9rem;
  }

  .list-apartment-headline {
    font-size: 2.5rem;
  }

  .list-apartment-subtext {
    font-size: 1.4rem;
  }

  .list-apartment-description__margin-subtext {
    margin-top: 1.2rem;
  }

  .slide3-apartment {
    top: 5rem;
    right: 3.8rem;

    .list-apartment-headline {
      text-align: right;
    }
  }

  .slide4-apartment {
    left: 3.7rem;
    bottom: 5.6rem;
  }

  .steps-to-buy-info .pic-frame {
    left: auto;
    right: 3rem;
    bottom: 4.9rem;
  }

  .steps-slider-wrap .slick-prev {
    left: 25%;
  }

  .steps-slider-headline {
    font-size: 2.5rem;
    line-height: 29.33px;
  }

  .steps-slider-headline-wrap {
    max-width: 29.8rem;
  }

  .steps-slider__margin-info {
    margin-top: 4.5rem;
  }

  .steps-slider-pic {
    max-width: 70.2rem;

    img {
      width: 100%;
    }
  }

  .steps-to-buy-info-wrap {
    margin-right: 4.2rem;
  }

  .steps-to-buy-info {
    max-width: 76.7rem;
  }

  .steps-to-buy-num {
    font-size: 12rem;
  }

  .steps-to-buy__margin-content {
    margin-top: 11.8rem;
  }

  .buy-apartment__margin-content {
    margin-top: 13.2rem;
  }

  .buy-apartment-headline {
    font-size: 2.5rem;
    line-height: 3.4rem;
    max-width: 34.4rem;
  }

  .buy-apartment-wrap__margin-subtext {
    margin-top: 5.3rem;
  }

  .tab-content-wrap {
    display: grid;
    grid-template: auto/repeat(2, 1fr);
    column-gap: 4.6rem;
    row-gap: 2.4rem;
  }

  .tab-item-prev {
    width: 100%;

    img {
      width: 100%;
    }
  }

  .tab-item-description {
    max-width: unset;
  }

  .buy-apartment-wrap__margin-tab {
    margin-top: 6.5rem;
  }

  .tabs-apartment-list {
    font-size: 2rem;
  }

  .tabs-apartment-item.active:before {
    width: 8rem;
    margin-left: -4rem;
    bottom: -0.2rem;
    height: .4rem;
  }

  .tabs-apartment-item {
    margin-right: 4.5rem;
  }

  .tabs-apartment__margin-list {
    margin-top: 8.7rem;
  }

  .quote-headline {
    font-size: 2.5rem;
    line-height: 28.14px;
    max-width: 18.8rem;
  }

  .quote-pic {
    max-width: 70rem;
  }

  .quote-info-wrap .pic-frame {
    transform: rotate(0deg);
    top: auto;
    left: auto;
    bottom: 3.1rem;
    right: -21.7rem;
  }

  .worth-slider-item {
    margin-right: 6rem;
  }

  .worth-slider-desc {
    margin-top: 2.8rem;
  }

  .worth-buy-wrap {
    &.wrapper {
      max-width: unset;
    }
  }

  .worth-buy-min {
    width: 39.1vw;

    img {
      width: 100%;
    }
  }

  .worth-buy-max {
    width: 60.9vw;

    img {
      width: 100%;
    }
  }

  .buy-info-max {
    width: 60.9vw;
  }

  .buy-info-min {
    width: 39.1vw;
  }

  .worth-buy-item__margin-text {
    margin-left: 0;
    padding-left: 4rem;
  }

  .buy-info-headline {
    font-size: 3.5rem;
  }

  .buy-info-subtext {
    max-width: 44.6rem;
  }

  .worth-buy-info__margin-subtext {
    margin-top: 4.2rem;
  }

  .buy-info-left-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 7.3rem;

    .buy-info-subtext {
      max-width: 32.6rem;
    }
  }

  .worth-buy-wrap__margin-content {
    margin-top: 8rem;
  }

  .worth-buy-item .pic-frame {
    right: 4rem;
  }

  .worth-banner-wrap {
    padding: 3rem 4.4rem 4.1rem 3.6rem;
  }

  .worth-banner-info,
  .worth-banner-info.sales {
    max-width: unset;
    min-width: 30rem;
    width: unset;
    top: 24%;
  }

  .worth-banner-sales {
    margin-top: 2.5rem;
  }

  .specialist-man {
    display: none;
  }

  .specialists:before {
    display: none;
  }

  .worth-buy-headline {
    font-size: 2.5rem;
  }

  .consultation__margin-content {
    margin-top: 14.6rem;
  }

  .top-left-footer-text {
    display: none;
  }

  .btm-footer-list-wrap {
    flex-direction: column;
  }
}

@media all and (max-width: 1080px) {
  .find-apartment-wrap {
    position: relative;
    z-index: 12;
  }

  .steps-to-buy-info {
    min-height: 50rem;
  }

  .faq-read-text {
    bottom: 1.5rem
  }

  .consultation-status-mobile {
    display: flex;
  }

  .worth-banner-info,
  .worth-banner-info.sales {
    top: 19%;
  }

  .quote-feedback-btn {
    font-size: 1.6rem;
    line-height: 1.5;
    padding: 1.5rem 2.2rem;
  }

  .quote-text {
    max-width: 29rem;
    font-size: 1.7rem;
    line-height: 1.41;
  }

  .quote-text:before {
    bottom: -1rem;
    right: -2rem;
  }

  .quote-subtext {
    font-size: 1.7rem;
    line-height: 1.41;
    max-width: 25.2rem;
  }



  .video-tablet-pic {
    display: block;
  }

  .wrapper {
    max-width: unset;
    padding-left: 7.5rem;
    padding-right: 7.5rem;
  }

  .faq-slider-link {
    padding: 4.3rem 5.4rem 5.1rem 5.4rem;
    flex-direction: column;
    align-items: center;
  }

  .header-main-wrap__margin-city {
    margin-left: 0;
  }

  .header-main-wrap__margin-phone {
    margin-left: 0;
  }

  .find-apartment-pic {
    top: 0;
  }

  .how-it-work-wrap .pic-frame {
    top: auto;
    bottom: 7.2rem;
    right: auto;
    left: 3.3rem;
  }

  .how-it-work-wrap {
    &.wrapper {
      padding: 0;
    }
  }

  .prev-video-info {
    width: 100%;
    transform: translate(0rem, -50%);
    height: 100%;
  }

  .prev-video-info-wrap {
    max-width: unset;
    width: 48.8%;
    height: 100%;
  }

  .video-info-headline {
    font-size: 2.5rem;
    margin-top: 9.2rem;

    br {
      display: none;
    }
  }

  .prev-video-info-wrap__margin-subtext {
    margin-top: 3.4rem;
  }

  .how-it-work__margin-content {
    margin-top: 0;
  }

  .video-tablet-pic {
    width: 7.5rem;
    height: 6.5rem;
  }

  .help-find-apartment {}

  .help-find-pic {
    display: none;
  }

  .find-apartment-wrap__margin-headline {
    padding-top: 0;
  }

  .help-find-apartment-wrap__margin-text {
    margin-left: 0;
  }

  .quote-info-wrap {
    max-width: 46.6rem;
  }

  .quote-pic {
    max-width: 60rem;
  }

  .quote-wrap__info-margin {
    margin-top: 4.5rem;
    margin-bottom: 0;
  }

  .worth-svg {
    width: 4.3rem;
    height: 4.6rem;
  }

  .worth-slider-pic-text {
    font-size: 1.7rem;
    line-height: 1.12;
    margin-left: 2rem;
  }

  .worth-slider-wrap {
    max-width: 24.63rem;
    width: 100%;
  }

  .worth-slider-item {
    margin-right: 0;
  }

  .worth-list-slider {
    justify-content: space-between;
  }

  .worth-buy__margin-content {
    margin-top: 16rem;
  }

  .worth-buy-headline {
    max-width: 42.7rem;
    line-height: 1.32;
  }

  .buy-info-headline {
    line-height: 1.32;
    font-size: 2.5rem;
  }

  .faq-headline {
    font-size: 2.5rem;
    line-height: 1.42;

  }

  .quote__margin-content {
    margin-top: 14.1rem;
  }

  .buy-info-subtext {
    font-size: 1.5rem;
    line-height: 1.33;
    max-width: 28.6rem;
  }

  .worth-buy-min,
  .buy-info-min {
    width: 47.01vw;
  }

  .buy-info-max,
  .worth-buy-max {
    width: 52.99vw;
  }

  .buy-info-left-side .buy-info-subtext {
    max-width: 23.6rem;
  }

  .buy-info-subtext p {
    margin-bottom: 2rem;
  }

  .faq-svg {
    width: 7.2rem;
    height: 7.28rem;
  }

  .faq-slider-text {
    font-size: 1.7rem;
    line-height: 2.4rem;
    margin-left: 0;
    max-width: unset;
    text-align: center;
    margin-top: 2.9rem;
  }

  .consultation__margin-content {
    padding-top: 5.1rem;
  }

  .consultation-headline {
    font-size: 2.5rem;
    line-height: 31.98px;
    max-width: 29.5rem;
  }

  .consultation-form-wrap__margin-subtext {
    margin-top: 4.1rem;
  }

  .consultation-subtext {
    font-size: 1.5rem;
    line-height: 2rem;
    max-width: 34.1rem;
  }

  .specialist-info {
    display: none;
  }

  .map-info {
    right: 0;
    left: 0;
    top: -56.5rem;
  }

  .map-info-headline {
    font-size: 2.5rem;

    br {
      display: none;
    }
  }

  .right-question-pic {
    display: none;
  }

  .worth-banner-sales {
    font-size: 25px;
  }

  .worth-banner-sales .point {
    font-size: 36px;
  }

  .worth-banner-text {
    max-width: 25.6rem;
  }

  .map-info-wrap__margin-list {
    margin-top: 6rem;
  }

  .map-info-item {
    margin-bottom: 4rem;
  }

  #map {
    width: 100%;
    height: 54.9rem;
  }

  .maps-main__margin-content {
    margin-top: 64.5rem;
  }

  .map-info-wrap {
    padding: 6.3rem 7.3rem 6.1rem;
  }

  .steps-to-buy-num {
    font-size: 6rem;
    margin-top: 2rem;
  }

  .steps-to-buy-desc-headlne {
    font-size: 2.5rem;
    line-height: 29.33px;
  }

  .steps-to-buy-info-wrap {
    padding-top: 6.2rem;
    padding-bottom: 13.1rem;
  }

  .steps-to-buy-info {
    max-width: 67.7rem;
  }
}

@media all and (max-width: 980px) {

  .rigth-consultation-link,
  .link-footer {
    height: 4.5rem;
  }

  .btm-footer-list {
    font-size: 1.4rem;
    line-height: 2rem;
    margin-right: 0;
  }

  .footer-contacts-link {
    font-size: 2.4rem;
    line-height: 29.34px;
  }

  .footer-time-works-text {
    font-size: 1.4rem;
    line-height: 24.85px;
  }

  .link-footer {
    padding: 0 2.1rem;
  }

  .footer-time-works {
    margin-top: 0;
    align-items: flex-start;
  }

  .time-work-status-item {
    font-size: 1.1rem;
    line-height: 20.26px;
    padding: .4rem 1.2rem .4rem 2.4rem;
  }

  .time-work-status-item:before {
    width: .8rem;
    height: .8rem;
    margin-top: -.6rem;
    left: 1rem;
  }

  .footer-right-btn {
    font-size: 1.6rem;
    margin-right: 1.3rem;
  }

  .sub-footer {
    font-size: 1rem;
    line-height: 21px;
    margin-left: 5.8rem;
  }

  .top-footer__margin-btn {
    margin-left: 2.7rem;
  }
}

@media all and (max-width: 900px) {
  .find-apartment-pic {
    width: 100%;
  }

  .steps-to-buy-info-wrap__margin-text {
    margin-top: 0;
  }

  .buy-apartment-headline.sales {
    max-width: 56.4rem;
  }

  .worth-banner-info.sales {
    max-width: 30rem;
  }

  .worth-banner-info.sales .worth-banner-text {
    max-width: unset;
  }

  .worth-pin-text {
    font-size: 1.4rem;
    line-height: 22.69px;
  }

  .worth-pin-num {
    font-size: 1.8rem;
    line-height: normal;
  }

  .worth-pin {
    padding: .7rem 7.8rem .7rem 1.5rem;
  }

  .pacement-pin {
    font-size: 1.5rem;
    min-width: 34rem;
    padding: 3.1rem 7.7rem 3.1rem 2.6rem;
  }

  .faq-list.sales .faq-slider-link:hover {
    flex-direction: row;
  }

  .faq-slider-text.sales {
    margin-top: 0;
  }

  .pin-period {
    margin-top: 1.5rem;
  }

  .pin-price {
    font-size: 2.3rem;
    margin-top: 2rem;

    .arrow {
      width: 2.8rem;
      height: 1.8rem;
    }
  }

  .consultation-btn-text {
    color: #7d899b;
  }

  .btn-sbmt-apartment {
    font-size: 1.6rem;
    padding: 1.4rem 2.75rem;
    border-radius: 1rem;
  }

  .worth-list__margin-content {
    margin-top: 7.5rem;
  }

  .worth-banner-wrap {
    padding: 2.6rem 4.4rem 2.6rem 3.6rem;
  }

  .find-apartment__margin-content {
    padding-top: 7.5rem;
  }

  .find-apartment-wrap__margin-text {
    margin-top: 4.5rem;
  }

  .help-find-text {
    color: #1a1b1c;
    font-size: 1.5rem;
    max-width: 26.2rem;
  }

  .find-apartment-wrap__margin-tabs {
    margin-top: 21.7rem;
  }

  .people-name {
    font-size: 2.5rem;
  }

  .find-apartment-info {
    position: absolute;
    top: 43.5rem;
    left: 7.3rem;
    color: #3caac2;
  }

  .list-apartment-item {
    width: 50%;
  }

  .list-apartment-item.apartment-big {
    width: 50%;
  }

  .prev-video-info-wrap {
    width: 50%;
    padding: 7.5rem 5rem 5rem 7rem;
  }

  .subtext-name {
    margin-top: 1.8rem;
    font-size: 1.5rem;
    line-height: 24.76px;
    max-width: 14.5rem;
  }

  .steps-to-buy-info {
    max-width: 43.3rem;
    min-height: 45rem;
  }

  .steps-to-buy-info-wrap {
    position: relative;
    margin-left: 6.3rem;
    padding-top: 0;
    margin-top: 5rem;
    align-items: flex-start;
  }

  .steps-to-buy-num {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0;
  }

  .steps-to-buy-info-wrap__margin-text {
    margin-left: 0rem;
  }

  .steps-to-buy-desc-text {
    margin-top: 5.4rem;
    font-size: 1.7rem;
  }

  .steps-to-buy-desc-headlne {
    text-align: left;
    margin-right: 0;
    padding-left: 9rem;
    margin-top: 1.4rem;
  }

  .steps-slider-wrap .slick-prev.slick-disabled:before {
    background: url(/assets/img/slide-disabled-tablet.svg);

  }

  .steps-slider-wrap .slick-next.slick-disabled:before {
    background: url(/assets/img/slide-disabled-tablet.svg);

  }

  .steps-slider-wrap .slick-prev,
  .steps-slider-wrap .slick-next {
    width: 2.3rem;
    height: 1.5rem;
  }

  .steps-slider-wrap .slick-prev:before,
  .steps-slider-wrap .slick-next:before {
    background: url(/assets/img/arrow-slide-tablet.svg);
    width: 2.3rem;
    height: 1.5rem;
  }

  .steps-slider__margin-info {
    margin-bottom: 0;
  }

  .steps-slider-wrap .slick-prev,
  .steps-slider-wrap .slick-next {
    bottom: 5.9rem;
  }

  .steps-slider-wrap .slick-prev {
    left: 8%;
  }

  .steps-slider-wrap .slick-next {
    left: 14%;
  }

  .quote-headline-wrap {
    position: relative;
    z-index: 12;
  }

  .quote-pic {
    max-width: 45.6rem;
  }

  .worth-slider-wrap {
    max-width: 18rem;
  }

  .worth-slider-desc {
    font-size: 1.4rem;
    line-height: 1.57;
  }

  .worth-buy-headline-wrap {}

  .worth-buy-wrap {
    &.wrapper {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .how-it-work-video-link:before {
    width: 9.6rem;
    height: 9.6rem;
    margin-top: -4.8rem;
    margin-left: -4.8rem;
  }

  .how-it-work-video-link:after {
    border-top: 1.75rem solid transparent;
    border-left: 3rem solid red;
    border-bottom: 1.75rem solid transparent;
    margin-top: -1.75rem;
    margin-left: -1.2rem;
  }

  .select-apartment {
    padding: 1rem 0 1rem 2.1rem;
    max-width: 15.2rem;
  }

  .number-rooms {
    padding: 1rem 0 1rem 2.1rem;
    max-width: 21.3rem;

  }

  .input-item-phone {
    margin: 0 2.1rem;
  }

  .worth-banner-text {
    font-size: 1.5rem;
    line-height: 2rem;
    max-width: 18.6rem;
  }

  .worth-banner-info {
    max-width: 30rem;
    left: 35%;
  }

  .worth-banner-info.sales {
    left: 35%;
  }

  .worth-buy-item .pic-frame {
    right: 2rem;
  }

  .consultation-input-list {
    font-size: 15px;
    font-weight: 500;
    line-height: 16.48px;
    flex-direction: column;
  }

  .consultation-form {
    max-width: 25.7rem;
  }

  .consultation-input {
    padding: .7rem 0;
  }

  .consultation-input-item {
    margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .consultation-btn-wrap {
    flex-direction: column;
  }

  .consultation-btn-item {
    font-size: 1.6rem;
    line-height: 1.5;
    padding: 1.5rem 3.7rem;
  }

  .consultation-form__margin-btn {
    margin-top: 3.3rem;
  }

  .consultation-btn-text {
    max-width: unset;
    font-size: 12px;
    margin-left: 0;
    margin-top: 3.3rem;
  }

  .faq-slider-link {
    padding: 4.3rem 1.5rem 4.8rem 1.5rem;
  }

  .consultation {
    background: url(/assets/img/consultation-tablet.png) no-repeat right #f4f9ff;
    background-size: cover;
  }

  .consultation__margin-content {
    padding-top: 4.1rem;
    padding-bottom: 3.3rem;
  }

  .consultation-form-wrap__margin-subtext {
    margin-top: 3.1rem;
  }

  .consultation-form-wrap__margin-form {
    margin-top: 4.3rem;
  }

  .header-main-wrap__margin-logo {
    margin-left: 2.8rem;
  }

  .phone-header-link {
    font-size: 1.7rem;
    line-height: 20.26px;
  }

  .status-work {
    font-size: 1.1rem;
    line-height: 20.26px;
    padding: .4rem 1.2rem .4rem 2.4rem;
  }

  .status-work:after {
    width: .8rem;
    height: .8rem;
  }

  .status-work {
    margin-top: .8rem;
  }

  .header-menu {
    width: 2.1rem;
    height: 1.4rem;
  }

  .city-name {}

  .city-list-form {
    .__select {
      font-size: 1rem;
      min-width: 11.6rem;
    }
  }

  .__select__title::before {
    border-left: .3rem solid transparent;
    border-right: .3rem solid transparent;
    border-top: .4rem solid #1a1b1c;
  }

  .maps-main__margin-content {
    margin-top: 56.5rem;
  }

  .map-svg {
    width: 3.53rem;
    height: 3.85rem;
  }

  .map-text {
    font-size: 1.7rem;
  }

  .phone-map {
    font-size: 2.5rem;
    line-height: 40.22px;
  }

  .map-subtext {
    font-size: 1.7rem;
    line-height: 26.97px;
    margin-top: 0;
  }

  .map-info {
    top: -51.5rem;
  }


}

@media all and(max-width: 768px) {
  .specialists {
    right: 10%;
  }

  .modals-feedback-headline {
    font-size: 3.2rem;
  }

  .modals-feedback-subtext {
    font-size: 1.7rem;
  }

  .feedback-list-input {
    margin-top: 2.9rem;
  }

  .faq-list {
    &.sales {
      .faq-slider-link {

        &:hover {
          padding: 3rem;
          align-items: flex-start;
          justify-content: center;

          .faq-svg {
            width: 7rem;
            height: 5.2rem;
          }

          .faq-slider-text {
            font-size: 1.4rem;
            line-height: 1.43;
          }

          .faq-sales-subtext {
            display: block;
          }
        }
      }
    }
  }
}

@media all and (max-width: 764px) {
  .input-list-wrap {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-wrap {
    &.wrapper {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  .specialists {
    right: 5%;
  }

  .input-list-wrap-item {
    margin-bottom: 1.2rem;
    background: #dfe9f5;
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .select-apartment,
  .number-rooms {
    max-width: unset;
    padding: 1.5rem 0 1.5rem 2.1rem;
    border-radius: 1rem;
  }

  .number-rooms {
    max-width: unset;
  }

  .input-item-phone {
    margin: 0;
    max-width: unset;
    padding: 1.5rem 0 1.5rem 2.1rem;
    border-radius: 1rem;
  }


  .input-list-wrap {
    background: transparent;
  }

  .phone-wrap {
    border-radius: 1rem;
  }

  .select-apartment:before {
    display: none;
  }

  .number-rooms:before {
    display: none;
  }
}

@media all and (max-width: 680px) {

  .header-main-wrap {
    position: relative;
  }

  .worth-buy-list__justify {
    .worth-buy-prev {
      margin-top: 1rem;
    }
  }

  .benefit-client-wrap {
    display: block;
  }

  .worth-pin-wrap {
    position: static;
    margin-top: 3rem;

  }

  .worth-pin-text {
    font-size: 15px;
  }

  .worth-pin-num {
    font-size: 20px;
  }

  .pin-price {
    color: #000000;
    font-size: 2rem;
    flex-direction: column;
    align-items: unset;
  }

  .arrow-link-text {
    display: block;
  }

  .arrow-link {
    border-radius: 1rem;
    margin-top: 3.5rem;
    background-color: #da0b27;
    height: 45px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;

    .arrow {
      width: 2.8rem;
      height: 1.8rem;
      fill: white;
      margin-left: 1rem;
    }
  }

  .buy-info-headline {
    font-size: 2rem;
  }

  .worth-banner-info.sales {
    top: 23%;
  }

  .worth-buy-info__margin-subtext {
    margin-top: 3rem;
  }

  .buy-info-left-side {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    align-items: unset;
  }

  .worth-pin {
    background: unset;
    color: #da0b27;
    display: flex;
    align-items: center;

    padding: .7rem 2rem .7rem 2rem;

  }

  .worth-pin-num {
    margin-left: 1rem;
  }

  .pacement-pin {
    min-width: unset;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
  }

  .placement-pin-wrap {
    width: 100%;
  }

  .first-pin {
    width: 100%;
  }

  .first-pin:before,
  .first-pin:after {
    display: none;
  }

  .faq-read-text {
    font-size: 1.5rem;
    bottom: 1.5rem;
  }

  .faq-read-text .arrow {
    width: 3rem;
    height: 1.5rem;
    margin-left: 1.4rem;
  }

  .footer-right-question {
    order: 0;
  }

  .footer-right-consultation {
    order: 1;
  }



  .consultation-status-mobile {
    position: static;
    margin-top: 2.4rem;
  }

  .consultation-form-wrap {
    position: relative;

    .pic-frame {
      top: 6.3rem;
      right: 0;
    }
  }

  .consultation-form-wrap__margin-form {
    margin-top: 3.3rem;
  }

  .worth-list-slider {
    padding-bottom: 6rem;
  }

  .worth-buy-list__center {
    .pic-frame {
      display: block;
    }
  }

  .worth-buy__margin-content {
    margin-top: 8.6rem;
  }

  .worth-buy-wrap__margin-content {
    margin-top: 4.4rem;
  }

  .worth-buy-item .pic-frame {
    bottom: auto;
    top: -3rem;
  }

  .quote-info {
    display: flex;
    flex-direction: column;
  }

  .quote-text {
    order: 0;
  }

  .quote-subtext {
    order: 1;
  }

  .quote-company {
    order: 2;
  }

  .quote-feedback-wrap {
    order: 3;
  }

  .tab-content-btn-wrap {
    display: block;
  }

  .tab-content-btn-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 178px;
    height: 45px;
    border-radius: 10px;
    background-color: #da0b27;
    margin: auto;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }

  .city-list-form {
    .__select__content {
      color: #1a1b1c;
    }
  }

  .tab-item-hide-mobail {
    display: none;
  }



  .how-it-work__margin-content {
    margin-top: 8.2rem;
  }

  .city-point-mobile {
    display: block;
  }

  .list-apartment-info {
    position: static;
  }

  .can-help-headline {
    margin-top: 6.8rem;
  }

  .list-apartment-slider {
    display: block;
    margin-top: 5.2rem;
    margin-left: 2rem;
    padding-bottom: 8rem;
  }

  .list-apartment-item {
    border-radius: 1rem;
    overflow: hidden;
  }

  .object-buy {
    display: none;
  }

  .list-apartment-wrap .pic-frame {
    display: none;
  }

  .first-slider {
    display: none !important;
  }

  .list-apartment-item {
    min-height: 20.3rem;
    height: 20.3rem;
    width: 20.3rem !important;
  }



  .wrapper {
    padding-left: 2.2rem;
    padding-right: 2.2rem;
  }

  .header-main-wrap {
    padding-top: .8rem;
    padding-bottom: .8rem;
  }

  .phone-header {
    flex-direction: row;
    align-items: center;
  }

  .status-work {
    margin-top: 0;
    margin-left: 2.8rem;
  }

  .header-main {
    background: #fff;
  }

  .city-list-wrap {
    position: absolute;
    bottom: -3.9rem;
    left: 0;
    width: 100%;
    z-index: 13;
    height: 3.9rem;
    background: #da0b27;
    align-items: center;
    display: flex;
    padding-left: 2rem;
  }

  .city-name {
    margin-left: 1.6rem;
  }

  .city-list-form .__select {
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 2.1;
    color: #ffffff;
  }

  .city-list-form {
    .__select__title {
      color: #f49eaa;
    }
  }

  .city-list-form .__select .__select__title:before {
    display: none;
  }

  .find-apartment-info {
    display: none;
  }

  .find-apartment {
    background: #fff;
  }

  .find-apartment-pic {
    top: auto;
    bottom: 0;
    height: auto;
  }

  .help-find-pic {
    display: block;
  }

  .help-find-apartment-wrap__margin-text {
    margin-left: 2rem;
  }

  .find-apartment-headline {
    max-width: unset;
  }

  .find-apartment-headline {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.8rem;
  }

  .help-find-apartment-wrap {
    justify-content: center;
  }

  .find-apartment-wrap__margin-text {
    margin-top: 3.5rem;
  }

  .find-apartment-wrap__margin-tabs {
    margin-top: 4rem;
  }

  .how-it-work-wrap.wrapper {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .how-it-work-video {
    border-radius: 1rem;
    overflow: hidden;
    margin-top: 3.4rem;
  }

  .prev-video-info {
    display: none;
  }

  .how-it-work-haedline-mob,
  .how-it-work-subtext-mob {
    display: block;
  }

  .how-it-work-wrap .pic-frame {
    top: 0;
    bottom: auto;
    right: 0;
    left: auto;
  }

  .steps-to-buy-info {
    max-width: 28rem;
    width: 100%;
    margin: auto;
    border-radius: 1rem;
    min-height: 52rem;
    max-height: 52rem;

  }

  .steps-to-buy-info-wrap {
    margin-left: 2.8rem;
    margin-right: 2.1rem;
    margin-top: 3.6rem;
    padding-bottom: 8.8rem;
    display: flex;
    flex-direction: column;
  }


  .steps-to-buy-num {
    position: static;
    margin-top: 0;
  }

  .steps-to-buy-desc-headlne {
    text-align: left;
    margin-right: 0;
    color: #1a1b1c;
    position: relative;
    padding-left: 0;

    &:before {
      position: absolute;
      content: '';
      width: 4.9rem;
      height: .4rem;
      left: 0;
      bottom: -1.4rem;
      background: #da0b27;
    }
  }

  .steps-slider__margin-info {
    margin-top: 3.8rem;
  }

  .steps-slider-pic {
    position: absolute;
    top: 15rem;
    right: 0;
    left: 0;
  }

  .steps-slider {
    padding-bottom: 5rem;
  }

  .steps-to-buy-info .pic-frame {
    left: auto;
    right: 2.6rem;
    bottom: auto;
    top: -2.7rem;
  }

  .steps-to-buy-desc-text {
    margin-top: 5rem;
    font-size: 1.7rem;
  }

  .steps-slider-wrap .slick-prev,
  .steps-slider-wrap .slick-next {
    bottom: 9rem;
  }

  .steps-slider-wrap .slick-prev {
    left: 33%;
  }

  .steps-slider-wrap .slick-next {
    left: 39%;
  }

  .tabs-apartment-item {
    .point {
      display: none;
    }
  }

  .buy-apartment__margin-content {
    margin-top: 4.6rem;
  }

  .buy-apartment-wrap {
    display: flex;
    flex-direction: column;
  }

  .buy-apartment-subtext {
    order: 0;
  }

  .buy-apartment-headline {
    order: 1;
  }

  .tabs-apartment {
    order: 2;
  }

  .buy-apartment-wrap__margin-subtext {
    margin-top: 0;
  }

  .buy-apartment-headline {
    margin-top: 4.5rem;
  }

  .buy-apartment-wrap__margin-tab {
    margin-top: 4.1rem;
  }

  .tabs-apartment-item.active:before {
    display: none;
  }

  .tabs-apartment-item {
    padding: 1.7rem 2.6rem;
    border-radius: 10px;
    background-color: #c4ceda;
    color: white;
  }

  .tabs-apartment-item.active {
    background-color: #da0b27;
    color: white;
  }

  .tab-content-wrap {
    grid-template: auto/repeat(1, 1fr);
    column-gap: 0rem;
    row-gap: 2.4rem;
  }

  .tabs-apartment-item {
    margin-right: 1rem;
  }

  .tabs-apartment-list {
    line-height: unset;
  }

  .tab-content-item {
    border-radius: 1rem;
    overflow: hidden;
  }

  .quote-pic {
    max-width: unset;
    width: 15.8rem;
    height: 15.8rem;
    right: auto;
    left: 50%;
    margin-left: -7.9rem;
    top: 6.4rem;
  }

  .quote-info-wrap {
    position: static;
    width: 100%;
    margin: auto;
    padding: 11.8rem 1.8rem 4.5rem;
    border-radius: 1rem;

  }

  .quote-info-wrap .pic-frame {
    transform: rotate(0deg);
    top: 0;
    left: auto;
    bottom: auto;
    right: 0;
    z-index: -1;
    opacity: 0.55;
  }

  .quote-wrap__info-margin {
    margin-top: 10.1rem;
  }

  .quote-text {
    max-width: unset;
  }

  .quote-subtext {
    max-width: unset;
  }

  .quote-info__subtext-margin {
    margin-top: 3.3rem;
  }

  .quote__margin-content {
    margin-top: 10rem;
  }

  .quote-text:after {
    left: 0rem;
    top: -5rem;
  }

  .quote-text:before {
    right: 0;
  }

  .quote-feedback-btn {
    width: 100%;
    text-align: center;
    padding: 1.05rem 2.2rem;
  }

  .worth-buy-item {
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 21px 0 rgba(168, 175, 185, 0.53);
    background-color: #ffffff;
    padding-top: 4rem;
    max-width: 28rem;
    margin: auto;

    &:first-of-type {
      margin-bottom: 14.1rem;
    }

  }

  .worth-buy-min,
  .buy-info-min {
    width: 100%;
  }

  .buy-info-max,
  .worth-buy-max {
    width: 100%;
  }

  .worth-buy-item__margin-text {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .first-order {
    order: 0;
  }

  .second-order {
    order: 1;
  }

  .worth-buy-wrap.wrapper {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .worth-banner-wrap {}

  .worth-banner-info,
  .worth-banner-info.sales {
    background: transparent;
    left: 0;


    &:before {
      content: '';
      position: absolute;
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 277px 0 277px 830px;
      border-color: transparent transparent transparent rgba(218, 11, 39, 0.89);
      background: transparent;
      line-height: 0;
      left: -60%;
      z-index: -1;
      top: -100%;
    }
  }

  .worth-buy-prev {
    z-index: 2;
    position: relative;
    margin-top: -1rem;

    &.mob-margin-worth {
      margin-top: 2rem;
    }
  }

  .worth-buy-item {
    z-index: 12;
    margin-bottom: 4.7rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .worth-banner-info {
    top: 26%;
    left: 25%;

    &:after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-image: url(/assets/img/frame-banner.svg);
      background-repeat: no-repeat;
    }
  }

  .worth-banner-info.sales {
    top: 23%;
    left: 25%;
  }

  .worth-banner-sales {
    margin-top: 1.5rem;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 20px;
  }

  .worth-banner-sales .point {
    font-size: 3rem;
  }

  .faq__margin-content {
    margin-top: 9.6rem;
  }

  .faq-wrap__margin-content {
    margin-top: 3.8rem;
  }

  .specialists {
    display: none;
  }

  .consultation-subtext {
    display: none;
  }

  .consultation-wrap {
    background: white;
    border-radius: 1rem;
    box-shadow: 0 0 21px 0 rgba(212, 224, 239, 0.52);
  }

  .consultation-wrap {
    max-width: 28rem;
    width: 100%;
    margin: auto;
  }

  .consultation {
    background: url(/assets/img/consultation-mob.png) no-repeat center #fff;
    background-size: cover;
    padding-bottom: 2.7rem;
  }

  .consultation__margin-content {
    margin-top: 6.8rem;
  }

  .consultation-headline {
    font-size: 2rem;
    line-height: 1.2;
    max-width: unset;
  }

  .consultation-btn-item {
    font-size: 1.6rem;
    line-height: 1.5;
    padding: 1.5rem 2.4rem;
  }

  .consultation-btn-text {
    font-size: 10.5px
  }

  .map-info-headline {
    font-size: 2rem;
  }

  .map-svg {
    width: 3.3rem;
    height: 3.6rem;
  }

  .map-text {
    font-size: 1.6rem;
  }

  .map-info-item__margin-text {
    margin-left: 3.2rem;
  }

  .map-info-wrap {
    padding: 6.3rem 1.6rem 4.8rem;
  }

  .map-subtext {
    white-space: normal;
  }

  .btm-footer-list-wrap {
    display: none;
  }

  .btm-footer-contacts {
    flex-direction: column;
  }

  .sub-footer {
    margin-left: 0;
  }

  .right-question-text {
    display: none;
  }

  .link-footer {
    padding: 0;
  }

  .rigth-question-link {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .right-question-mob {
    display: block;
  }

  .rigth-consultation-text {
    display: none;
  }

  .rigth-consultation-link {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .top-footer {
    position: relative;
  }

  .top-footer-right {
    position: absolute;
    top: 0;
    right: 0;
    flex-direction: column;
  }

  .footer-right-btn {
    margin-right: 0;
    margin-top: 1.5rem;

    &:last-child {
      margin-top: 0;
    }
  }

  .rigth-consultation-pic-mob {
    display: block;
  }

  .top-footer-left {
    align-items: center;
  }

  .footer-mobile-menu {
    display: block;
    margin-right: 1.8rem;
  }
}

@media all and (max-width: 550px) {
  .faq-list {
    display: block;
  }

  .modals-feedback {
    box-shadow: 2px 6px 10px rgba(212, 224, 239, 0.59);
    border-radius: 10px;
    max-width: 28rem;
  }

  .fancybox-close-small {
    width: 2rem;
    height: 2rem;
  }

  .modals-feedback .fancybox-close-small {
    top: 1rem;
    right: 1rem;
  }

  .modals-feedback-headline {
    font-size: 2rem;
  }

  .modals-feedback-subtext {
    font-size: 1.3rem;
  }

  .btn-submit-feedback {
    font-size: 1.6rem;
    padding: 1.5rem;
  }

  .modals-btn-wrap {
    margin-top: 3.9rem;
  }

  .modals-subtext-item {
    margin-top: 3.4rem;
    font-size: 13px;
  }

  .modals-feedback-subtext {
    margin-top: 2rem;
  }

  .input-item-modal {
    font-size: 1.3rem;
    padding: 1.2rem 0;
  }

  .feedback-list-input {
    margin-top: 2.5rem;
  }

  .modals-feedback-wrap {
    padding: 4rem 2rem;

  }

  .arrow {
    width: 2.8rem;
    height: 1.8rem;
    fill: #1a1b1c;
  }

  .faq-slider-link {
    box-shadow: 0 0 21px 0 rgba(212, 224, 239, 0.52);
  }

  .faq-list {
    padding-bottom: 5.5rem;
  }
}

@media all and (max-width: 480px) {
  #map {
    height: 21.5rem;
  }

  .tabs__item.active {
    color: #da0b27;
  }

  .phone-header-link {
    font-size: 1.5rem;
    line-height: 1.37;
  }

  .status-work:after {
    width: .6rem;
    height: .6rem;
    margin-top: -.3rem;
    left: .8em;
  }

  .status-work {
    font-size: .9rem;
    line-height: normal;
    letter-spacing: 0.45px;
    padding: .1rem .7rem .1rem 2rem;
  }

  .header-main-wrap__margin-logo {
    margin-left: 2rem;
  }

  .header-menu {
    width: 1.7rem;
    height: 1.2rem;
  }

  .help-find-text {
    font-size: 13px;
    line-height: 20px;
  }

  .how-it-work-haedline-mob {
    font-size: 20px;
    font-weight: 700;
    line-height: 22.83px;
  }

  .how-it-work-subtext-mob {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
  }

  .how-it-work-video-link:before {
    width: 5rem;
    height: 5rem;
    margin-top: -2.5rem;
    margin-left: -2.5rem;
  }

  .how-it-work-video-link:after {
    border-top: 1rem solid transparent;
    border-left: 1.7rem solid red;
    border-bottom: 1rem solid transparent;
    margin-top: -1rem;
    margin-left: -.7rem;
  }

  .steps-slider-headline {
    font-size: 2rem;
    line-height: normal;
  }

  .steps-to-buy__margin-content {
    margin-top: 9.3rem;
  }

  .steps-slider-headline-wrap {
    padding-top: 0;
  }

  .footer-wrap {
    padding-top: 2.9rem;
    padding-bottom: 3.1rem;
  }

  .btm-footer {
    margin-top: 2.5rem;
  }

  .footer-time-works-text {
    line-height: 1.96;
    color: #ffffff;
    margin-top: 2.9rem;
  }

  .time-work-status-item {
    font-size: .9rem;
    line-height: normal;
    padding: .2rem 1.2rem .2rem 2rem;
  }

  .btm-footer {
    position: relative;
  }

  .time-work-status {
    position: absolute;
    top: 2rem;
    right: 0;
  }

  .time-work-status-item:before {
    width: .6rem;
    height: .6rem;
    margin-top: -.3rem;
    left: .8rem;
  }

  .sub-footer {
    margin-top: 3.2rem;
  }

  .map-info {
    top: -54.5rem;
  }

  .maps-main__margin-content {
    margin-top: 54.5rem;
  }

  .map-info-wrap__margin-list {
    margin-top: 5.3rem;
  }

  .map-info-item {
    margin-bottom: 3.8rem;
  }


  .worth-slider-wrap {
    max-width: 26.5rem;
    margin: auto;
  }

  .quote-wrap {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .quote-company-item {
    margin-right: 2.5rem;
  }

  .quote-company {
    justify-content: center;
  }

  .worth-banner-info {
    top: 26%;
    left: 18%;
  }

  .worth-banner-info.sales {
    top: 23%;
    left: 17%;
  }

  .tabs-mob-hide {
    display: none;
  }

  .tabs-mobile-resize {
    text-transform: capitalize
  }

  .tabs__item {
    padding: 2rem 3.4rem;
  }

  .subtext-form-privacy {
    font-size: 1.3rem;
    line-height: 1.31;
  }

  .tabs__content {
    padding: 3rem 1.8rem 3.6rem;
  }

  .list-apartment-headline {
    font-size: 2rem;
    color: #1a1b1c;
  }

  .slide2-apartment {
    top: 2.4rem;
    left: 2rem;
  }

  .slide3-apartment {
    top: 2.4rem;
    right: auto;
    left: 2rem;
  }

  .slide4-apartment {
    left: 2rem;
    bottom: auto;
    top: 2.4rem;
  }

  .slide3-apartment .list-apartment-headline {
    text-align: left;
  }

  .list-apartment-subtext {
    color: #1a1b1c;
  }

  .steps-slider-wrap .slick-prev {
    left: 25%;
  }

  .tabs-apartment-list {
    font-size: 1.6rem;
  }

  .buy-apartment-headline {
    font-size: 2rem;
    line-height: 1.4;
  }

  .buy-apartment-subtext {
    font-size: 16px;
  }

  .tabs-apartment__margin-list {
    margin-top: 4.8rem;
  }

  .tab-item-description-headline {
    font-size: 15px;
    font-weight: 800;
    line-height: 1.4;
  }

  .tab-item-description {
    padding: 3.7rem 2.6rem;
  }

  .map-text {
    white-space: normal;
  }
}

@media all and (max-width: 390px) {
  .steps-slider-wrap .slick-prev {
    left: 15%;
  }

  .worth-banner-info,
  .worth-banner-info.sales {
    left: 0%;
  }
}