.modals {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  display: none;
}

.modals-feedback {
  max-width: 50.4rem;
  width: 100%;
  margin: auto;
  background-image: url(/assets/img/har-ofis.png);
  background-size: cover;

  &.fancybox-content {
    padding: 0;
  }

  .fancybox-close-small {
    padding: 0;
    color: #8a94a1;
    top: 2rem;
    right: 2rem;
  }
}

.modals-feedback-wrap {
  padding: 7.3rem 6.9rem 8.9rem;
}

.modals-feedback-headline {
  font-size: 4.5rem;
  font-weight: bold;
  color: #1a1b1c;
}

.modals-feedback-subtext {
  font-size: 2.3rem;
  line-height: 1.52;
  color: #1a1b1c;
  margin-top: 3.9rem;
}

.feedback-list-input {
  margin-top: 4.9rem;
}

.input-item-modal {
  font-size: 1.8rem;
  font-weight: 600;
  color: #000000;
  padding: 1.7rem 0;
  border-bottom: .1rem solid #48596a;
  width: 100%;

}

.feedback-input-item {
  margin-bottom: 3rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.btn-submit-feedback {
  width: 100%;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  padding: 2rem 0;
  border-radius: 1rem;
  background-color: #da0b27;
}

.modals-btn-wrap {
  margin-top: 4.7rem;
}

.modals-subtext-item {
  margin-top: 4.5rem;
  font-size: 1.7rem;
  font-weight: 600;
  color: #8a94a1;
}