.svgsprite {
    display:inline-block;
    width:1em;
    height:1em;
    fill:currentColor;
    vertical-align:middle;

    &._arrow {
    	font-size:(120.51/10)*1rem;
    	width:(175.77/120.51)*1em;
    }
    &._arrow-slide {
    	font-size:(120.51/10)*1rem;
    	width:(175.77/120.51)*1em;
    }
    &._faq1 {
    	font-size:(512/10)*1rem;
    	width:(512/512)*1em;
    }
    &._faq2 {
    	font-size:(512/10)*1rem;
    	width:(512/512)*1em;
    }
    &._faq3 {
    	font-size:(484/10)*1rem;
    	width:(484/484)*1em;
    }
    &._faq3-sales {
    	font-size:(512/10)*1rem;
    	width:(512/512)*1em;
    }
    &._faq4 {
    	font-size:(509.17/10)*1rem;
    	width:(509.17/509.17)*1em;
    }
    &._faq4-sales {
    	font-size:(512/10)*1rem;
    	width:(512/512)*1em;
    }
    &._map1 {
    	font-size:(513/10)*1rem;
    	width:(396/513)*1em;
    }
    &._map2 {
    	font-size:(517/10)*1rem;
    	width:(510/517)*1em;
    }
    &._map3 {
    	font-size:(512/10)*1rem;
    	width:(512/512)*1em;
    }
    &._map4 {
    	font-size:(512/10)*1rem;
    	width:(512/512)*1em;
    }
    &._worth1 {
    	font-size:(85/10)*1rem;
    	width:(85/85)*1em;
    }
    &._worth2 {
    	font-size:(84/10)*1rem;
    	width:(81/84)*1em;
    }
    &._worth3 {
    	font-size:(86/10)*1rem;
    	width:(75/86)*1em;
    }
}