.find-apartment {
  position: relative;

  &__margin-content {
    padding-top: 5rem;
    padding-bottom: 6.1rem;
  }
}

.find-apartment-pic {
  position: absolute;
  top: 5rem;
  right: 0;
  width: 51.19%;
  height: 100%;

  img {
    width: 100%;
    object-fit: cover;
    height: 100%;
  }
}

.find-apartment-info {
  position: absolute;
  top: 8.5rem;
  left: 4.3rem;
  color: #50bdd5;
}

.people-name {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 3.5rem;
}

.subtext-name {

  font-size: 2rem;
  font-weight: 400;
  line-height: 3rem;
  max-width: 20.5rem;
  margin-top: 5.5rem;
}

.find-apartment-headline {
  color: #1a1b1c;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 5.8rem;
  max-width: 52.6rem;
  width: 100%;
}

.find-apartment-wrap {
  &__margin-headline {
    padding-top: 7.8rem;
  }

  &__margin-text {
    margin-top: 7rem;
  }

  &__margin-top {
    margin-top: 7.4rem;
  }

  &__margin-tabs {
    margin-top: 7.8rem;
  }
}

.help-find-text {
  max-width: 37.2rem;
  width: 100%;
  color: #595c5f;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.7rem;
}

.help-find-apartment-wrap {
  display: flex;
  align-items: center;

  &__margin-text {
    margin-left: 4.4rem;
  }
}

.phone-wrap {}


.input-item-phone {
  color: #1a1b1c;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 2.919rem;
  margin: 0 4.2rem;
  max-width: 14.7rem;
  width: 100%;

  &::placeholder {
    opacity: 0.5;
    color: #1a1b1c;
  }
}

.tabs {
  position: relative;
  z-index: 1;
  max-width: 72.7rem;
  width: 100%;
}

.tabs__content {
  box-shadow: 0 4px 10px rgba(212, 224, 239, 0.59);
  background: #ffffff;
  padding: 4rem 3.8rem 4.8rem;
  display: none;
  border-radius: 0 10px 10px 10px;

  &.active {
    display: block;
  }
}

.apartment-list-form {
  &__margin-subtext {
    margin-top: 2.3rem;
  }

  &__margin-btn {
    margin-top: 2.5rem;
  }
}

.subtext-form-privacy {
  color: #1a1b1c;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.934rem;
  text-align: center;

  a {
    display: inline;
    color: #da0b27;
  }
}

.btn-sbmt-wrap {
  display: flex;
  justify-content: center;
}

.btn-sbmt-apartment {
  color: #ffffff;
  font-size: 1.7rem;
  font-weight: 700;
  padding: 2rem 4rem;
  border-radius: 1rem;
  background-color: #da0b27;
}

.tabs__caption {
  display: flex;
  color: #1a1b1c;
  font-size: 2rem;
  font-weight: 700;
}

.tabs__item {
  padding: 2.3rem 3.8rem;
  background: #dfe9f5;
  border-radius: 1rem 1rem 0 0;
  box-shadow: 0 -6px 10px rgba(212, 224, 239, 0.59);

  &.active {
    background: white;
  }
}

.list-apartment {}

.list-apartment-wrap {
  position: relative;

  .pic-frame {
    left: 0;
    top: -10.9rem;
    transform: rotate(90deg);
  }
}

.list-apartment-info {
  position: absolute;
  z-index: 3;
  top: 9.2rem;
  width: 100%;
  left: 0;
}

.can-help-headline {
  max-width: 52rem;
  width: 100%;
  margin-top: 27.3rem;
  color: #1a1b1c;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 5.8rem;

  .point {
    display: inline;
    color: #da0b27;
  }

  .point2 {
    display: inline;
    color: #8ea4be;
  }
}

.object-buy {
  color: #595c5f;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.7rem;
}

.list-apartment-slider {
  display: flex;
  flex-wrap: wrap;

  .slick-prev {
    top: auto;
    bottom: 0rem;
    left: 0;
  }

  .slick-prev,
  .slick-next {
    z-index: 12;
    width: 3.1rem;
    height: 2rem;
  }

  .slick-next {
    top: auto;
    bottom: 0rem;
    left: 5.4rem;
  }



  .slick-prev:before {
    position: absolute;
    color: #1a1b1c;
    opacity: 1;
    content: '';
    background: url(/assets/img/arrow-slide.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 3.1rem;
    height: 2rem;
    transform: rotate(180deg);
  }

  .slick-prev.slick-disabled:before {
    opacity: 1;
    background: url(/assets/img/slide-disabled.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 3.1rem;
    height: 2rem;
    transform: rotate(0);

  }

  .slick-next:before {
    position: absolute;
    color: #1a1b1c;
    opacity: 1;
    content: '';
    background: url(/assets/img/arrow-slide.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 3.1rem;
    height: 2rem;
    transform: rotate(0);
  }

  .slick-next.slick-disabled:before {
    opacity: 1;
    background: url(/assets/img/slide-disabled.svg);
    background-repeat: no-repeat;
    transform: rotate(180deg);
    background-size: contain;
    width: 3.1rem;
    height: 2rem;

  }
}

.list-apartment-item {
  position: relative;

  img {
    width: 100%;
    object-fit: cover;
    height: 100%;
  }
}

.list-apartment-item {
  width: 48.8%;
  height: 51.0372vh;
  min-height: 64rem;

  &.apartment-big {
    width: 51.19%;
  }
}

.find-apartment {
  background: #f4f9ff;
}

.list-apartment-description {
  &__margin-subtext {
    margin-top: 1.7rem;
  }
}

.list-apartment-headline {
  color: #ffffff;
  font-size: 4.5rem;
  font-weight: 700;
}

.slide2-apartment {
  position: absolute;
  top: 7.4rem;
  left: 6.9rem;
}

.slide3-apartment {
  position: absolute;
  top: 7.4rem;
  right: 6.4rem;
}

.slide4-apartment {
  position: absolute;
  bottom: 7.7rem;
  left: 6.8rem;
}

.list-apartment-subtext {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.7rem;
}

.how-it-work {
  &__margin-content {
    margin-top: 25.8rem;
  }
}

.prev-video-info-wrap {
  padding: 7.4rem 12.1rem 6.8rem 12.3rem;
  background: rgba(218, 11, 39, 0.89);
  max-width: 48.9rem;
  width: 100%;

  &__margin-subtext {
    margin-top: 4.8rem;
  }
}

.prev-video-pic {
  position: relative;
  width: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.prev-video-info {
  position: absolute;
  top: 50%;
  transform: translate(-4.3rem, -50%);

}

.video-info-headline {
  color: #ffffff;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 5.8rem;
  text-transform: uppercase;
}

.video-info-subtext {
  color: #ffffff;
  font-size: 2rem;
  line-height: 2.7rem;
  max-width: 32.2rem;
  width: 100%;
}

.how-it-work-video-link {
  position: relative;
  display: block;

  &:before {
    position: absolute;
    content: '';
    width: 12rem;
    height: 12rem;
    box-shadow: 0 4px 21px rgba(168, 175, 185, 0.53);
    border: 3px solid #ffffff;
    background-color: #ffffff;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin-top: -6rem;
    margin-left: -6rem;
    z-index: 1;
  }

  &:after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-top: 2.2rem solid transparent;
    border-left: 3.8rem solid red;
    border-bottom: 2.2rem solid transparent;
    top: 50%;
    left: 50%;
    margin-top: -1.9rem;
    margin-left: -1.2rem;
    z-index: 2;
  }
}

.steps-to-buy {
  &__margin-content {
    margin-top: 23.6rem;
  }
}

.steps-slider {
  position: relative;

  &__margin-info {
    margin-top: 14.1rem;
    margin-bottom: 7.6rem;
  }
}

.steps-slider-pic {
  position: absolute;
  top: 0;
  right: 0;
}

.steps-slider-headline {
  color: #1a1b1c;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 5.8rem;

}

.steps-slider-headline-wrap {
  max-width: 53.8rem;
  width: 100%;

  .point {
    text-transform: uppercase;
  }
}

.steps-to-buy-info {
  max-width: 113.7rem;
  width: 100%;
  box-shadow: 0 0 21px rgba(212, 224, 239, 0.39);
  background-color: #ffffff;
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: 2;
  max-height: 60.5rem;
  min-height: 60.5rem;

  .pic-frame {
    left: 10.8rem;
    bottom: 7.7rem;

  }
}



.steps-to-buy-info-wrap {
  margin-right: 16.7rem;
  display: flex;
  padding-top: 10rem;
  padding-bottom: 20.5rem;

  &__margin-text {
    margin-left: 8.4rem;
    margin-top: 3.6rem;
  }

}

.steps-to-buy-num {
  font-size: 15rem;
  font-weight: 700;
  opacity: 0.15;
  color: #7b9ec9;
}

.steps-to-buy-desc {
  max-width: 36.8rem;
  width: 100%;
}

.steps-to-buy-desc-headlne {
  color: #db1530;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 5.8rem;
}

.steps-to-buy-desc-text {
  max-width: 39.6rem;
  width: 100%;
  color: #1a1b1c;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 2.5rem;
  margin-top: 5.7rem;
}

.buy-apartment {
  &__margin-content {
    margin-top: 23rem;
  }
}

.buy-apartment-wrap {
  &__margin-subtext {
    margin-top: 6.2rem;
  }

  &__margin-tab {
    margin-top: 11.9rem;
  }
}

.buy-apartment-headline {
  color: #1a1b1c;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 5.8rem;
  max-width: 61.7rem;
  width: 100%;
}

.buy-apartment-subtext {
  color: #595c5f;
  font-size: 2rem;
  font-weight: 500;
}

.tabs-apartment {
  &__margin-list {
    margin-top: 11.9rem;
  }
}

.tabs-apartment-list {
  color: #c4ceda;
  font-size: 3rem;
  font-weight: 700;
  line-height: 5.8rem;
  display: flex;
  align-items: center;
}

.tabs-apartment-item {
  position: relative;

  .point {
    display: inline;
  }

  &.active {
    color: #1a1b1c;

    &:before {
      position: absolute;
      content: '';
      width: 14.2rem;
      height: .5rem;
      background: #da0b27;
      bottom: -2.2rem;
      left: 50%;
      margin-left: -7.1rem;
    }
  }

  margin-right: 10rem;

  &:last-child {
    margin-right: 0;
  }
}

.tab-content-wrap {
  display: grid;
  grid-template: auto/repeat(3, 1fr);
  column-gap: 4.6rem;
  row-gap: 5.7rem;
}

.tab-content-link {
  display: block;

  &:hover {
    .tab-item-price {
      transition: all .3s;
      color: #da0b27;
    }

    .tab-item-arrow {
      transition: all .3s;
      opacity: 1;
    }
  }
}

.tab-item-description {
  background: rgba(255, 255, 255, 0.9);
  padding: 4.5rem 3.5rem;
  max-width: 37rem;
  width: 100%;
  margin-top: -9rem;
  position: relative;
  z-index: 12;
}

.tab-item-description-headline {
  color: #000000;
  font-size: 1.8rem;
  line-height: 2.507rem;
  text-transform: uppercase;
  font-weight: 700;
}

.tab-item-period {
  color: #000000;
  font-size: 1.8rem;
  line-height: 2.507rem;
  margin-top: 2rem;
}

.tab-item-price {
  color: #1a1b1c;
  font-size: 2.8rem;
  line-height: 28.45px;
  font-weight: 700;
  margin-top: 2.5rem;
  transition: all .3s;
  position: relative;

}

.tabs-content {
  display: none;

  &.active {
    display: block;
  }
}

.tab-item-arrow {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: all .3s;
}

.quote {
  &__margin-content {
    margin-top: 20rem;
  }
}

.quote-headline {
  color: #1a1b1c;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 5.8rem;
  max-width: 33.1rem;
  width: 100%;
}

.quote-wrap {
  position: relative;

  &__info-margin {
    margin-top: 9.3rem;
    margin-bottom: 8.6rem;
  }
}

.quote-pic {
  position: absolute;
  top: 0;
  right: 0;
}

.quote-info-wrap {
  box-shadow: 0 0 21px rgba(212, 224, 239, 0.39);
  background-color: #ffffff;
  max-width: 106.3rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 7.8rem 6.8rem 8.1rem 0;
  position: relative;
  z-index: 12;

  .pic-frame {
    left: -9rem;
    top: -6.4rem;
    transform: rotate(90deg);
  }
}

.quote-info {
  &__subtext-margin {
    margin-top: 6.7rem;
  }

  &__margin-btn {
    margin-top: 6.5rem;
  }

  &__margin-company {
    margin-top: 5.4rem;
  }
}

.quote-text {
  color: #1a1b1c;
  font-size: 2rem;
  line-height: 3.5rem;
  max-width: 48.7rem;
  width: 100%;
  position: relative;

  &:after {
    position: absolute;
    content: '';
    background-image: url(/assets/img/dot.svg);
    top: 0;
    width: 4.6rem;
    height: 3.5rem;
    left: -7.5rem;
  }

  &:before {
    position: absolute;
    content: '';
    background-image: url(/assets/img/dot.svg);
    bottom: 0;
    width: 4.6rem;
    height: 3.5rem;
    right: -5rem;
    transform: rotate(180deg);
  }

}

.quote-subtext {
  color: #1a1b1c;
  font-size: 2rem;
  line-height: 3.5rem;

  .point {
    font-weight: 700;
  }
}

.quote-feedback-btn {
  border-radius: 1rem;
  background-color: #da0b27;
  padding: 1.5rem 4.3rem;
  color: #ffffff;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 29.19px;
}

.quote-company {
  display: flex;
  align-items: center;

}

.quote-company-item {
  margin-right: 6.9rem;

  &:last-child {
    margin-right: 0;
  }
}

.worth-list {
  &__margin-content {
    margin-top: 23.6rem;
  }
}

.worth-slider-pic {
  display: flex;
  align-items: center;
}

.worth-slider-pic-text {
  color: #da0b27;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.5rem;
  max-width: 13.8rem;
  width: 100%;
  margin-left: 4.4rem;
}

.worth-slider-desc {
  color: #1a1b1c;
  font-size: 1.7rem;
  line-height: 2.698rem;
  margin-top: 5.7rem;
}

.worth-slider-wrap {
  max-width: 33.63rem;
  width: 100%;
}

.worth-slider-item {
  margin-right: 9.15rem;

  &:last-child {
    margin-right: 0;
  }
}

.worth-list-slider {
  display: flex;

  .slick-prev {
    top: auto;
    bottom: 0rem;
    left: 0;
  }

  .slick-prev,
  .slick-next {
    z-index: 12;
    width: 3.1rem;
    height: 2rem;
  }

  .slick-next {
    top: auto;
    bottom: 0rem;
    left: 5.4rem;
  }



  .slick-prev:before {
    position: absolute;
    color: #1a1b1c;
    opacity: 1;
    content: '';
    background: url(/assets/img/arrow-slide.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 3.1rem;
    height: 2rem;
    transform: rotate(180deg);
  }

  .slick-prev.slick-disabled:before {
    opacity: 1;
    background: url(/assets/img/slide-disabled.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 3.1rem;
    height: 2rem;
    transform: rotate(0);

  }

  .slick-next:before {
    position: absolute;
    color: #1a1b1c;
    opacity: 1;
    content: '';
    background: url(/assets/img/arrow-slide.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 3.1rem;
    height: 2rem;
    transform: rotate(0);
  }

  .slick-next.slick-disabled:before {
    opacity: 1;
    background: url(/assets/img/slide-disabled.svg);
    background-repeat: no-repeat;
    transform: rotate(180deg);
    background-size: contain;
    width: 3.1rem;
    height: 2rem;

  }
}

.worth-buy {
  &__margin-content {
    margin-top: 22.3rem;
  }
}

.worth-buy-headline {
  color: #1a1b1c;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 5.8rem;
  max-width: 77.7rem;
  width: 100%;
}

.worth-buy-item {
  display: flex;
  position: relative;

  &__margin-text {
    margin-left: 7.3rem;
  }

  .pic-frame {
    right: 0;
    bottom: 11.8rem;
  }
}

.worth-banner-info {
  background: rgba(218, 11, 39, 0.89);
  max-width: 44.5rem;
  width: 100%;
  position: absolute;
  top: 37rem;
  left: 25%;
  z-index: 2;
}

.worth-banner-wrap {
  padding: 4rem;
}

.worth-banner-text {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: normal;
  color: #ffffff;
  max-width: 34.6rem;
  width: 100%;
}

.worth-buy-wrap {

  &__margin-content {
    margin-top: 15rem;
  }
}

.buy-info-headline {
  color: #1a1b1c;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 5.8rem;

  .point {
    color: #da0b27;
    text-transform: uppercase;
  }
}

.buy-info-subtext {
  color: #000000;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 3rem;
  max-width: 55.9rem;
  width: 100%;
  font-weight: 500;

  p {
    margin-bottom: 3rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.worth-buy-list {
  position: relative;

  &__justify {
    justify-content: space-between;
    align-items: center;
  }

  &__center {
    align-items: center;
  }
}

.worth-buy-info {
  &__margin-subtext {
    margin-top: 8rem;
  }
}

.faq {
  position: relative;

  &__margin-content {
    margin-top: 14.3rem;
  }
}

.faq-back {
  position: absolute;
  top: 0;
  right: 0;
}

.faq-headline {
  color: #1a1b1c;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 5.8rem;
}

.faq-list {
  display: grid;
  grid-template: auto/repeat(2, 1fr);
  column-gap: 2.4rem;
  row-gap: 2.8rem;

  .slick-prev {
    top: auto;
    bottom: 0rem;
    left: 0;
  }

  .slick-prev,
  .slick-next {
    z-index: 12;
    width: 3.1rem;
    height: 2rem;
  }

  .slick-next {
    top: auto;
    bottom: 0rem;
    left: 5.4rem;
  }



  .slick-prev:before {
    position: absolute;
    color: #1a1b1c;
    opacity: 1;
    content: '';
    background: url(/assets/img/arrow-slide.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 3.1rem;
    height: 2rem;
    transform: rotate(180deg);
  }

  .slick-prev.slick-disabled:before {
    opacity: 1;
    background: url(/assets/img/slide-disabled.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 3.1rem;
    height: 2rem;
    transform: rotate(0);

  }

  .slick-next:before {
    position: absolute;
    color: #1a1b1c;
    opacity: 1;
    content: '';
    background: url(/assets/img/arrow-slide.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 3.1rem;
    height: 2rem;
    transform: rotate(0);
  }

  .slick-next.slick-disabled:before {
    opacity: 1;
    background: url(/assets/img/slide-disabled.svg);
    background-repeat: no-repeat;
    transform: rotate(180deg);
    background-size: contain;
    width: 3.1rem;
    height: 2rem;

  }
}



.faq-slider-link {
  display: flex;
  align-items: center;
  padding: 8.3rem 0 7.2rem 7.4rem;
  box-shadow: 0 0 21px rgba(212, 224, 239, 0.52);
  background-color: #ffffff;
  transition: all .2s;
  min-height: 24rem;

  &:hover {
    background-color: #da0b27;
    transition: all .2s;

    .faq-svg {
      fill: white;
    }

    .faq-slider-text {
      color: white;
    }

    .faq-read-text {
      display: flex;
    }
  }
}

.faq-read-text {
  font-size: 22px;
  font-weight: 800;
  color: white;
  position: absolute;
  width: 100%;
  bottom: 3.5rem;
  left: 0;
  text-align: center;
  display: none;
  align-items: center;
  justify-content: center;

  .arrow {
    width: 4.5rem;
    height: 3rem;
    fill: white;
    margin-left: 2.4rem;
  }

  p {
    width: min-content;
    white-space: nowrap;
    position: relative;

    &:before {
      position: absolute;
      content: '';
      width: 100%;
      bottom: -.3rem;
      left: 0;
      height: .2rem;
      background: white;
    }
  }
}

.faq-slider-text {
  color: #000000;
  font-size: 2.2rem;
  line-height: 3rem;
  max-width: 26rem;
  width: 100%;
  margin-left: 4.4rem;
  font-weight: 500;


}

.faq-slider-wrap {
  position: relative;
}

.faq-wrap {
  position: relative;
  z-index: 12;

  &__margin-content {
    margin-top: 10.5rem;
  }
}

.consultation {
  background: url(/assets/img/consultation.png) no-repeat right #f4f9ff;
  background-size: cover;

  &__margin-content {
    margin-top: 23.3rem;
    padding-top: 9.2rem;
    padding-bottom: 6.3rem;
  }
}

.consultation-form-wrap {
  &__margin-subtext {
    margin-top: 6rem;
  }

  &__margin-form {
    margin-top: 5.3rem;
  }
}

.consultation-headline {
  color: #1a1b1c;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 5.8rem;
  max-width: 52.2rem;
  width: 100%;
  position: relative;
}

.consultation-status-mobile {
  position: absolute;
  right: 3rem;
  bottom: .8rem;
  font-size: 14px;
  font-weight: 600;
  line-height: 2.14;
  color: #ffffff;
  border-radius: 9px;
  background-color: #d30420;
  width: 61px;
  height: 18px;
  display: none;
  justify-content: center;
  align-items: center;
}

.consultation-subtext {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  max-width: 44rem;
}

.consultation-form {
  max-width: 46rem;
  width: 100%;
  overflow: hidden;

  &__margin-btn {
    margin-top: 4.7rem;
  }
}

.consultation-input-list {
  width: 100%;
  display: flex;
  color: #000000;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
}

.consultation-input-item {
  margin-right: 2.6rem;
  border-bottom: .1rem solid #48596a;

  &:first-child {
    max-width: 26.1rem;
    width: 100%;
  }

  &:last-child {
    margin-right: 0;
  }
}

.consultation-input {
  padding: 1.6rem 0;
  width: 100%;
}

.consultation-btn-item {
  font-size: 1.7rem;
  font-weight: bold;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  border-radius: 10px;
  background-color: #da0b27;
  padding: 1.9rem 3.3rem;
}

.consultation-btn-wrap {
  display: flex;
  align-items: center;

}

.consultation-btn-text {
  max-width: 17rem;
  width: 100%;
  margin-left: 2.5rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.consultation-wrap {
  position: relative;
}

.specialists {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: baseline;

  &:before {
    position: absolute;
    content: '';
    top: 0;
    right: 5rem;
    background-image: url(/assets/img/spec-back.png);
    width: 60.5rem;
    height: 57.8rem;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.specialist-woman {
  position: relative;
}

.specialist-man {
  margin-left: -10rem;
  margin-right: -5rem;
  position: relative;
}

.specialist-info {
  font-weight: 600;
  line-height: 2.14;
  letter-spacing: normal;
  color: #4a627d;
  max-width: 18rem;
  width: 100%;
  position: absolute;
  z-index: 2;

  &.woman-info {
    top: 10.4rem;
    left: -7.6rem;

  }

  &.man-info {
    top: 12rem;
    right: 5rem;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end
  }
}

.specialist-name {
  font-size: 1.8rem;

}

.specialist-position {
  font-size: 1.4rem;
}

.specialist-status {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 30px;
  width: min-content;
  color: #ffffff;
  padding: .3rem 1.1rem;
  border-radius: 9px;
  background-color: #d30420;
  height: 1.8rem;
  display: flex;
  align-items: center;
  margin-top: 1.8rem;
}

.maps-main {
  &__margin-content {
    margin-top: 21.5rem;
  }
}

#map {
  width: 100%;
  height: 96.9rem;

  [class*="ymaps-2"][class*="-ground-pane"] {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    /* Firefox 3.5+ */
    -webkit-filter: grayscale(100%);
    /* Chrome 19+ & Safari 6+ */
  }
}

.maps-main-wrap {
  position: relative;
}

.map-info {
  position: absolute;
  top: 14.7rem;
  right: 35.9rem;
  box-shadow: 2px 6px 10px rgba(212, 224, 239, 0.59);
  background-color: #ffffff;
}

.map-info-wrap {
  padding: 7rem 8.15rem 8.9rem;

  &__margin-list {
    margin-top: 7.3rem;
  }
}

.map-info-headline {
  font-size: 45px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: #1a1b1c;
}

.map-text {
  color: #1a1b1c;
  font-size: 2rem;
  line-height: 24.85px;
  white-space: nowrap;
}

.map-info-item {
  display: flex;
  align-items: center;
  margin-bottom: 5.5rem;

  &:last-child {
    margin-bottom: 0;
  }

  &__margin-text {
    margin-left: 4.1rem;
  }
}

.map-info-link {
  display: flex;
  align-items: center;
}

.phone-map {
  color: #1a1b1c;
  font-size: 3.2rem;
  font-weight: 700;
  white-space: nowrap;
}

.map-subtext {
  color: #1a1b1c;
  font-size: 1.3rem;
  line-height: 26.97px;
  white-space: nowrap;
  margin-top: 1.6rem;
}

.footer-main {
  background-color: #1a1b1c;
}

.footer-wrap {
  padding: 5.5rem 0 7rem;
}

.steps-slider-wrap {
  .slick-prev {
    top: auto;
    bottom: 15.5rem;
    left: 30%;
  }

  .slick-prev,
  .slick-next {
    z-index: 12;
    width: 4.5rem;
    height: 3rem;
  }

  .slick-next {
    top: auto;
    bottom: 15.5rem;
    left: 35%;
  }



  .slick-prev:before {
    position: absolute;
    color: #1a1b1c;
    opacity: 1;
    content: '';
    background: url(/assets/img/arrow-slide.svg);
    width: 4.5rem;
    height: 3rem;
    transform: rotate(180deg);
  }

  .slick-prev.slick-disabled:before {
    opacity: 1;
    background: url(/assets/img/slide-disabled.svg);
    transform: rotate(0);

  }

  .slick-next:before {
    position: absolute;
    color: #1a1b1c;
    opacity: 1;
    content: '';
    background: url(/assets/img/arrow-slide.svg);
    width: 4.5rem;
    height: 3rem;
    transform: rotate(0);
  }

  .slick-next.slick-disabled:before {
    opacity: 1;
    background: url(/assets/img/slide-disabled.svg);
    transform: rotate(180deg);

  }
}

.how-it-work-wrap {
  position: relative;

  .pic-frame {
    top: -7.4rem;
    right: -10.4rem;
  }
}

.worth-banner-sales {
  font-size: 45px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: normal;
  color: #ffffff;
  margin-top: 4.3rem;

  p {
    display: inline;
  }

  .point {
    display: inline;
    font-size: 64px;
    font-weight: 900;
  }
}

.video-tablet-pic {
  display: none;
}

.how-it-work-haedline-mob {
  color: #1a1b1c;
  font-size: 3rem;
  font-weight: 700;
  line-height: 2.283rem;
  display: none;
}

.how-it-work-subtext-mob {
  margin-top: 1.7rem;
  color: #1a1b1c;
  font-size: 2.3rem;
  font-weight: 400;
  line-height: 1.8rem;
  max-width: 32rem;
  width: 100%;
  display: none;
}

.tabs-mob-hide {
  display: inline;
}

.tab-content-btn-wrap {
  display: none;
}

.worth-buy-list__center {
  .pic-frame {
    display: none;
  }
}