.find-apartment-info {
  &.sales {
    color: #207891;

    .subtext-name {
      margin-top: 4rem;
    }
  }
}

.faq-slider-text {
  &.sales {
    max-width: 32rem;
  }
}

.buy-apartment-headline {

  &.sales {
    max-width: 86.4rem;
  }
}

.worth-banner-info {

  &.sales {
    max-width: 49.2rem;
    top: 43rem;


    .worth-banner-text {
      max-width: 36.6rem;
    }

    .worth-banner-sales {
      margin-top: 1.4rem;
    }
  }
}

.worth-buy-prev {

  &.sales {
    position: relative;
  }
}

.worth-pin-wrap {
  position: absolute;
  top: 45%;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.first-pin {
  position: relative;

  &:after {
    position: absolute;
    content: '';
    top: 0;
    left: -2.2rem;
    width: 0;
    height: 0;
    border-top: 0rem solid transparent;
    border-right: 2.3rem solid #da0b27;
    border-bottom: 3.5rem solid transparent;
  }

  &:before {
    position: absolute;
    content: '';
    bottom: 0;
    left: -2.2rem;
    width: 0;
    height: 0;
    border-top: 3.5rem solid transparent;
    border-right: 2.3rem solid #da0b27;
    border-bottom: 0 solid transparent;
  }
}

.worth-pin {
  font-weight: 700;
  color: #ffffff;
  background: #da0b27;
  padding: .8rem 8.4rem .8rem 1.5rem;
  position: relative;



}

.worth-pin-text {
  font-size: 1.7rem;
  line-height: 27.78px;
}

.worth-pin-num {
  font-size: 2.2rem;
  line-height: 27.78px;
}

.pacement-pin {
  background: rgba(255, 255, 255, 0.9);
  padding: 4rem 8.7rem 4rem 5rem;
  min-width: 42rem;
  font-size: 1.8rem;
  font-weight: 800;
  letter-spacing: normal;
  color: #000000;
}

.placement-pin-text {}

.pin-period {
  font-weight: normal;
  margin-top: 2rem;
}

.pin-price {
  font-size: 2.8rem;
  color: #da0b27;
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.placement-pin-wrap {
  margin-top: -1rem;
}

.faq-sales-subtext {
  font-size: 14px;
  letter-spacing: normal;
  color: #ffffff;
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  text-align: center;
}



.tab-item-description {
  &.sales {
    position: relative;
  }
}

.benefit-client-wrap {
  position: absolute;
  top: -3.8rem;
  left: 0;
  width: 100%;
  background-image: linear-gradient(to right, #da0b27 0%, #da0b27 26%, rgba(218, 11, 39, 0.7) 100%);
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2.7rem;
  padding-right: 1rem;
}

.benefit-client-text {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  align-items: center;

  .point {
    display: inline;
    font-size: 18px;
    letter-spacing: 0.18px;
  }
}

.arrow-link-text {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: normal;
  color: #ffffff;
  display: none;
}

.benefit-client-wrap {
  display: none;
}