@import url('fonts/Fontello/css/fontello.css');

@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font-family;
    src: url('#{$file-path}.woff2');
    font-weight: $weight;
    font-style: $style;
  }
}

@include font-face("Lato", "fonts/Lato-Light", 300);
@include font-face("Lato", "fonts/Lato-Regular", 400);
@include font-face("Lato", "fonts/Lato-Medium", 500);
@include font-face("Lato", "fonts/Lato-Semibold", 600);
@include font-face("Lato", "fonts/Lato-Bold", 700);