.arrow {
  width: 4.5rem;
  height: 3rem;
  fill: #1a1b1c;
}

.worth-svg {
  width: 8rem;
  height: 8.5rem;
  fill: #1a1b1c;
}

.faq-svg {
  width: 9.675rem;
  height: 9.75rem;
  fill: #da0b27;

}

.map-svg {
  fill: #da0b27;
  width: 4.725rem;
  height: 5.225rem;
}


